@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Muli:wght@400;500&display=swap");
.containerFluid {
    width: 100%;
    margin: 2px;
}

.containerFluid h2 {
    color: #007e6d;
    position: relative;
    width: 24rem;
}

.accordion {
    width: 100%;
    padding: 0 5px;
    border: 2px solid #0b9d8a;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.accordion .icon {
    margin: 10px;
    width: 30px;
    height: 30px;
    background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png) no-repeat 8px 7px #65ccbe;
    border-radius: 50%;
    float: left;
    transition: all 0.5s ease-in;
}

.accordion h5 {
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #0b9d8a;
}

.active-pro {
    background-color: #0b9d8a;
    color: #fff;
}

.active-pro .icon {
    background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png) no-repeat 8px -25px #fff;
}

.panel {
    padding: 0 15px;
    border-left: 1px solid #0b9d8a;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in;
}

.panel h1 {
    color: #1c554d;
    font-weight: 600;
}

.panel h3 {
    color: #0b9d8a;
    text-align: center;
    justify-content: center;
}

.panel h5 {
    font-weight: 600;
}

.panel h6 {
    font-weight: 700;
}

.note-new p {
    color: #b5b5b5;
    font-weight: 700;
}

.poem {
    text-align: center;
    justify-content: center;
}

.background {
    background-color: #0b9d8a;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container-entertaiment {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}